@model IEnumerable<CoffeeShop.Models.Kohviautomaat>

@{
    ViewBag.Title = "Telli";
}

<h2>Telli</h2>

<table class="table">
    <tr>
        <th>
           Joogi Nimi
        </th>
        <th>
            Topse järgi
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    //if(@item.TopseJuua>=1){
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.JoogiNimi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TopseJuua)
            </td>
            <td>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Save" class="btn btn-default" name="btn_telli" />
                    </div>
                </div>
            </td>
        </tr>
        //}
    
}

</table>
